*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: white;
}

nav{
    background: lightblue; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 10px 0;
}

nav ul li a{
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    color: rgb(0, 9, 185);
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li a:hover{
   color: rgb(0, 110, 255);
}

header{
    padding: 10px;
    text-align: center;
}

header h1,p{
    margin: 20px;
}

main{
    padding: 0 40px 0 40px;
}

.donationbox{
    background-color: #ffffff;
    padding: 20px;
    display: flex;;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.donationbox img{
    width: 100px;
    height: auto;
    margin: 0 40px 0 30px;
}

.donationbox p{
    font-size: 18px;
    color: rgb(92, 92, 92);
    margin-bottom: 20px;
}

.donatebtn{
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(167, 15, 68);
    border-radius: 40px;
    border: none;
    transition: all 0.3s ease;
}

.donatebtn:hover{
    background-color: rgb(213, 18, 87);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}
